@()
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin - Login</title>
    <!-- Custom fonts for this template-->
    <link href='@routes.Assets.versioned("vendor/fontawesome-free/css/all.min.css")' rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href='@routes.Assets.versioned("stylesheets/sb-admin.css")' rel="stylesheet">

</head>

<body class="bg-dark">

<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Login</div>
        <div class="card-body">
            <form class="needs-validation" novalidate>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required" autofocus="autofocus">
                        <label for="inputEmail">Email address</label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                        <label for="inputPassword">Password</label>
                    </div>
                </div>
                <div id="validCred" class="alert alert-success alert-dismissible fade show" style="display: none;">
                    <strong>Success!</strong> Login Successfully.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <!-- Error Alert -->
                <div id="invalidCred" class="alert alert-danger alert-dismissible fade show" style="display: none;">
                    <strong>Invalid Credentials!</strong> Please try again with correct email or password.
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                </div>
                <button id="loginAnc" type="submit" class="btn btn-primary btn-block" onclick="loginAdmin()">Login</button>
            </form>
<!--            <div class="text-center">-->
<!--                <a class="d-block small mt-3" href="register.html">Register an Account</a>-->
<!--                <a class="d-block small" href="forgot-password.html">Forgot Password?</a>-->
<!--            </div>-->
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->
<script src='@routes.Assets.versioned("vendor/jquery/jquery.min.js")'></script>
<script src='@routes.Assets.versioned("vendor/bootstrap/js/bootstrap.bundle.min.js")'></script>

<!-- Core plugin JavaScript-->
<script src='@routes.Assets.versioned("vendor/jquery-easing/jquery.easing.min.js")'></script>
<script>
        // Self-executing function
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
</script>
<script src='@routes.Assets.versioned("javascripts/login.js")'></script>

</body>
</html>
