@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">

<head>
    <title>@title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href='@routes.Assets.versioned("stylesheets/main.css")' media="screen" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"
          crossorigin="anonymous"/>
    <link href='@routes.Assets.versioned("images/favicon.png")' rel="shortcut icon" type="image/png">

</head>
<body>
<div class="topnav">
    <img src="https://media.glassdoor.com/sqll/2152555/nexxo-financial-corporation-il-squarelogo-1554706676559.png" id="logo">
    <a href="/" @if(title=="Home"){class="active"}>Home</a>
</div>
@content
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src = "https://code.highcharts.com/highcharts.js"></script>
</body>
<div class="footer">
    2019 copyright
</div>
</html>